@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  font-size: var(--normal-font-size);
  font-family: "Inter", sans-serif;
}

:root {
  --huge-font-size: 36px;
  --normal-font-size: 16px;
  --font-light-color: #fff;
  --font-light-transient-color: rgba(255, 255, 255, 0.9);
  --font-dark-color: #000;
  --header-height: 67px;
}
