.button {
  &._active {
    opacity: 0.8;
    cursor: pointer;
  }

  height: 32px;
  border-radius: 50px;
  &Container {
    padding: 10px 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    span {
      font-weight: 500;
      display: block;
      position: relative;
      transition: left 0.3s ease-in;
      left: 0;
    }
    img {
      height: 8px;
      left: 0;
      transition: left 0.3s ease-in;
      visibility: hidden;
      position: relative;
    }

    span._active {
      left: -10px;
    }
    img._active {
      left: -10px;
      visibility: visible;
    }
  }
}
