.herro {
  height: 700px;
  &__container {
    background: bottom/cover no-repeat
      url("../../assets/images/toyota-background-desktop.png");
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 69px;
    &-text {
      text-align: center;
      max-width: 320px;
      color: #fff;
      font-weight: 600;
      font-size: 32px;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 767px) {
  .herro {
    height: 595px;
    &__container {
      background: center/cover no-repeat
        url("../../assets/images/toyota-background-mobile.png");
    }
    &__content {
      &-text {
        text-align: center;
        font-size: 16px;
        margin-bottom: 24px;
      }
    }
  }
}
