.slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  &__container {
    width: 100%;
    height: 100%;
    &__line {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      transform: translate(0, 0);
    }
  }
  &-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.5s ease 0s;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 20px);
    width: 100%;
  }
}
